# Aliases pessoais
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias meuip='curl ipinfo.io/ip'

#Docker
alias dps="sudo docker container ps"
alias dlsa="sudo docker container ls -a"
alias di="sudo docker images"
alias dcu="sudo docker compose up -d"
alias dcd="sudo docker compose down"

# Aliases para Git
alias gs='sudo git status'
alias gadd='sudo git add .'
alias gc='sudo git commit'
alias gp='sudo git push'

# Aliases personalizados
alias update='sudo apt update && sudo apt upgrade'
alias ..='cd ..'
alias ...='cd ../..'


alias jjj='cd /srv/projects'
alias vvv='cd /srv/volumes'
alias cdp='cd /srv/docker/projects'
alias cdv='cd /srv/docker/volumes'




